html,body,header{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
}
#menu1{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 5vw;
    background-color: #24252B;
    position: fixed;
    top:0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 3px 5px 5px rgb(0, 0, 0, 0.4)
}
h3{
    padding: 1em;
    color: whitesmoke;
    letter-spacing: 3px;
}
ul,li{
    list-style: none;
    display: flex;
    padding: 1em;
    margin: 0;
}
li{
    cursor: pointer;
    transition: all, 0.1s ease-in-out;
    margin: 0.5em;
    padding: 10px 15px;
    color: whitesmoke;
    border-radius: 20px;
    font-weight: bold;
}
#li1:hover{
    background-color: olivedrab;
    color: #24252B;
}
#li2:hover{
    background-color: olivedrab;
    color: #24252B;
}
#li3:hover{
    background-color: olivedrab;
    color: #24252B;
}
#li4:hover{
    background-color: olivedrab;
    color: #24252B;
}
#stronaglowna{
    position: absolute;
    top:150px;
    color:#24252B;
    text-decoration: none;
    margin-left: 300px;
}
#stronaglowna:hover{
    color: olivedrab;
}
#kreska{
    position: absolute;
    top: 133px;
    left: 130px;
    color: #24252B;
    margin-left: 300px;
}
#onas{
    position: absolute;
    top:150px;
    left:160px;
    color:#24252B;
    text-decoration: none;
    margin-left: 300px;
}
#onas:hover{
    color: olivedrab;
}
a{
    color: white;
    text-decoration: none;
}
#pytania{
    max-width: 970px;
    margin: 0 auto;
    position: relative;
    top:200px;
}
#pytania1{
    margin-top: 45px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    font-weight: bold;
}
#pytania2115{
    border: 1px solid #dce0e8;
    border-radius: 6px;
    padding: 24px 20px;
    margin-bottom: 12px;
    list-style: none;
    position: relative;
    cursor: pointer;
}
#pytanieopening{
    font-size: 22px;
    position: absolute;
    top: 18px;
    right: 24px;
    font-weight: 700;
}
details[open] #pytaniasrodek{
    top: 18px;
    right: 24px;
}
details > summary {
    list-style: none;
}
details[open] summary {
    color: olivedrab;
    font-weight: 500;
}
details[open] #pytaniasrodek {
    display: inline-block;
    padding-top: 8px;
    color: #8b8b9a;
}
#pytaniakoniec{
    text-align: center;
    color: #8b8b9a;
}
#tlo1{
    margin-left: 50px;
    width: 100px;
    height: 100px;
    background-color: olivedrab;
    border-radius: 100%;
    position: absolute;
    top:270px;
    left:0;
}

#tlo3{
    margin-left: 200px;
    width: 100px;
    height: 100px;
    background-color: #24252B;
    border-radius: 100%;
    position: absolute;
    top:550px;
    left:0;
}

#tlo5{
    margin-left: 50px;
    width: 100px;
    height: 100px;
    background-color: olivedrab;
    border-radius: 100%;
    position: absolute;
    top:850px;
    left:0;
}
#tlo2{
    margin-left: 200px;
    width: 100px;
    height: 100px;
    background-color: #24252B;
    border-radius: 100%;
    position: absolute;
    top:1150px;
    left:0;
}

#tlo4{
    margin-left: 50px;
    width: 100px;
    height: 100px;
    background-color: olivedrab;
    border-radius: 100%;
    position: absolute;
    top:1450px;
    left:0;
}
#tlo6{
    margin-left: 200px;
    width: 100px;
    height: 100px;
    background-color: #24252B;
    border-radius: 100%;
    position: absolute;
    top:1750px;
    left:0;
}
#stopka{
    width: 100%;
    height: 500px;
    background-color: #24252B;
    position: absolute;
    top:1900px;
}
#kusrprogramowania1{
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top:75px;
    margin-left: 200px;
    color: whitesmoke;
}
#a1{
    color:whitesmoke;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    top:175px;
    left:250px;
}
#a1:hover{
    letter-spacing: 0.5px;
    color: olivedrab;
}
#a2{
    color:whitesmoke;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    top:225px;
    left:250px;
}
#a2:hover{
    letter-spacing: 0.5px;
    color: olivedrab;
}
#a3{
    color:whitesmoke;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    top:275px;
    left:250px;
}
#a3:hover{
    letter-spacing: 0.5px;
    color: olivedrab;
}
#a4{
    color:whitesmoke;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    top:325px;
    left:250px;
}
#a4:hover{
    letter-spacing: 0.5px;
    color: olivedrab;
}
#kontakt1{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top:75px;
    margin-left:650px;
    color: whitesmoke;
}
#naszafirma{
    position:relative;
    top: 75px;
    margin-left: 600px;
    font-size: 20px;
    color:whitesmoke;
    font-weight: bold;
}
#a5{
    position: absolute;
    top:225px;
    margin-left: 600px;
    font-size: 20px;
    font-weight: bold;
    color:whitesmoke;
    text-decoration: none;
}
#a5:hover{
    letter-spacing: 0.5px;
    color: olivedrab;
}
#a6{
    position: absolute;
    top:275px;
    margin-left: 600px;
    font-size: 20px;
    font-weight: bold;
    color:whitesmoke;
    text-decoration: none;
}
#a6:hover{
    letter-spacing: 0.5px;
    color: olivedrab;
}
#a7{
    position: absolute;
    top:325px;
    margin-left: 600px;
    font-size: 20px;
    font-weight: bold;
    color:whitesmoke;
    text-decoration: none;
}
#a7:hover{
    letter-spacing: 0.5px;
    color: olivedrab;
}
#informacje21{
    position:relative;
    top: 28px;
    margin-left: 1100px;
    font-size: 20px;
    color:whitesmoke;
    font-weight: bold;
}
#p7{
    position:relative;
    top: 248px;
    margin-left: 250px;
    font-size: 20px;
    color:whitesmoke;
    font-weight: bold;
}
#p8{
    position:relative;
    top: 200px;
    margin-left: 600px;
    font-size: 20px;
    color:whitesmoke;
    font-weight: bold;
}
#mapa{
    position: absolute;
    top:90px;
    right: 200px;
}
#tlo7{
    width: 650px;
    height: 400px;
    background-color: olivedrab;
    position: absolute;  
    top:65px;
    right: 175px;
}